.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 50px;
}

.card {
  background-color: var(--main-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.card p {
  color: var(--light-grey);
  text-align: center;
  font-weight: 300;
}

.card h1 {
  color: white;
  align-self: center;
  font-size: 48px;
}

.card h2 {
  color: white;
  align-self: center;
  font-weight: 300;
}

.card img {
  object-fit: contain;
}

.text-card {
  display: flex;
  justify-content: space-between;
}

.leaderBoard {
  font-weight: 300;
  color: var(--dark-grey);
}
