.nav {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  margin-top: -9px;
  padding-top: 8px;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 8pt auto;
  width: 90vw;
}

.nav-route {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 2rem;
}

.nav-user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 2rem;
}

.nav-user li {
  display: flex;
  align-items: center;
}

.nav-user p {
  font-size: 10pt;
  font-weight: 300;
}

.nav li {
  padding: 8pt 16pt 16pt 16pt;
  font-family: Nunito;
  font-weight: 400;
  font-size: 20px;
}

.nav a {
  color: var(--grey);
  font-weight: 300;
  transition: color 0.2s ease-in-out;
}

.nav a:hover {
  color: var(--hover-color);
}

.nav img {
  max-width: 32px;
  border: 2px solid var(--main-color);
  border-radius: 20px;
}

.nav li .black {
  color: var(--black);
  font-weight: 400;
}

#logo-li {
  padding-left: 0;
  padding-right: 48pt;
}

#logo {
  color: var(--main-color);
  font-style: italic;
  font-weight: 600;
  font-size: 32pt;
  transition: all 0.5 ease-in-out;
  -webkit-text-stroke: 1.5px var(--main-color);
}
#logo:hover {
  -webkit-text-stroke: 1.5px var(--main-color);
  color: transparent;
}

/* NavSmall */
.nav-small {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100vw;
}

.nav-small img {
  max-width: 35px;
  place-self: center end;
  margin-right: 8pt;
  border: 2px solid var(--main-color);
  border-radius: 22px;
}

.nav-small div {
  place-self: center start;
}

@media screen and (max-width: 480px) {
  #logo {
    font-size: 28pt;
    place-self: center;
    z-index: 2000 !important;
  }
}
