.question-result {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.question-result > h1 {
  grid-column: 2 / 12;
  text-align: center;
  font-weight: 400;
}

.question-result .line-bottom-black {
  grid-column: 1 / 13;
}

.question-result-info {
  grid-column: 1 / 13;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: end;
}

.question-result-info h1 {
  grid-column: 1 / 4;
  font-weight: 300;
  margin-bottom: -8px;
  align-self: end;
  justify-self: start;
}

.question-result-info div {
  grid-column: 4 / 7;
  display: flex;
  font-weight: 300;
  justify-content: flex-end;
  align-items: flex-end;
}

.question-result-info img {
  max-width: 32pt;
  object-fit: contain;
}

.options {
  grid-column: 1 / 13;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.option1,
.option2 {
  border: var(--main-color) 2px solid;
  padding: 8pt 8pt 16pt 8pt;
  border-radius: 10px;
}

.options .line-right-black {
  grid-column: 5 / 6;
  border-right: var(--grey) 1px solid;
  margin: 24pt 0;
}

.authed-user-vote {
  display: flex;
  justify-content: flex-end;
}

.hide-avatar {
  opacity: 0;
}

.show-avatar {
  opacity: 1;
}

.option1 {
  grid-column: 1 / 5;
}

.option2 {
  grid-column: 7 / 11;
}

.options h3 {
  font-weight: 500;
  font-style: italic;
  text-align: center;
}

.options img {
  object-fit: contain;
  max-width: 30px;
}

.options p {
  text-align: center;
}

.option-votes {
  color: var(--grey);
  font-size: 10pt;
}
