.question-card {
  border: var(--grey) solid 1.5px;
  border-radius: 10px;
  padding: 16pt 16pt;
  transition: all 0.2s ease-in-out;
}

.question-card:hover {
  border: var(--main-color) solid 1.5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.card-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.card-info div {
  grid-column: 2 / 4;
  max-width: 280px;
}

.card-info img {
  grid-column: 1 / 2;
  justify-self: center;
}

.card-info h2 {
  font-weight: 400;
}

.card-info .author {
  font-weight: 200;
  font-size: 12pt;
  font-style: normal;
  color: var(--grey);
}

.card-info p {
  font-style: italic;
  font-weight: 400;
  font-size: 14pt;
}

.question-card-btn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

@media screen and (max-width: 480px) {
  .question-card {
    padding: 16pt 8pt;
  }
  .card-info div {
    margin-left: 4pt;
  }

  .card-info .author {
    font-size: 12px;
    font-weight: 300;
  }
}
